@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-size: 18px;
    }
    body {
        @apply bg-main;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply break-words font-bold;
        line-height: 1em !important;
    }
    h1, .h1 {
        @apply text-3xl lg:text-6xl flex flex-col;
    }
    h2 {
        @apply text-3xl lg:text-5xl flex flex-col;
    }
    h3 {
        @apply text-2xl lg:text-4xl flex flex-col;
    }
    h4 {
        @apply text-2xl lg:text-3xl
    }
    h5 {
        @apply text-xl lg:text-2xl
    }
    h6 {
        @apply text-lg lg:text-xl
    }
    
}

@layer components {
    .sb-markdown {
        @apply leading-relaxed text-lg;
        a {
            @apply underline;
        }
        a:hover {
            @apply no-underline;
        }
        b,
        strong {
            @apply font-medium;
        }
        em {
            @apply italic;
        }
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            margin: 2.5rem 0 1.5rem;
        }
        p {
            margin: 1.5rem 0;
        }
        ol {
            @apply list-decimal;
            margin: 1.5rem 0;
            padding-left: 1.25em;
        }
        ul {
            @apply list-disc;
            margin: 1.5rem 0;
            padding-left: 1.25em;
        }
        li > ul,
        li > ol {
            margin: 0;
        }
        blockquote {
            @apply border-l-4 border-current;
            font-size: 1.25em;
            line-height: 1.4;
            margin: 2.5rem 0;
            padding-left: 1.25em;
        }
        pre {
            @apply border border-current overflow-x-auto leading-normal;
            font-size: 0.875em;
            margin: 1.5rem 0;
            padding: 1.25em;
        }
        hr {
            @apply bg-current border-0 h-px;
            margin: 2.5rem 0;
        }
        figure {
            margin: 1.5rem 0;
        }
        figcaption {
            @apply leading-normal;
            font-size: 0.875em;
            margin: 0.5rem 0 0;
        }
        table {
            @apply border border-current border-collapse text-left w-full;
            margin: 1.5rem 0;
        }
        caption {
            @apply text-left;
            font-size: 0.875em;
            margin: 0 0 0.5rem;
        }
        th,
        td {
            @apply border-r border-b border-current;
            padding: 0.5em;
        }
        th {
            font-weight: medium;
        }
        h1:first-child,
        h2:first-child,
        h3:first-child,
        h4:first-child,
        h5:first-child,
        h6:first-child,
        p:first-child,
        ul:first-child,
        ol:first-child,
        blockquote:first-child,
        pre:first-child,
        hr:first-child,
        figure:first-child,
        table:first-child {
            margin-top: 0;
        }
        h1 + h2,
        h2 + h3,
        h3 + h4,
        h4 + h5,
        h5 + h6 {
            margin-top: 1.5rem;
        }
    }

    /* embla slider */
    .embla {
        overflow: hidden;
        position: relative;
    }
    .embla__container {
        display: flex;
        @apply gap-4 flex-col lg:flex-row;
    }

    .embla__slide {
        position: relative;
        flex: 0 0 33%;
    }
    .embla__slide_mobile {
        position: relative;
        flex: 0 0 100%;
    }

    .embla__slide > div {
        @apply mx-4;
    }
    .embla__nav {
        @apply absolute w-full top-1/2 max-w-7xl inset-auto mt-8 mx-2;
    }
    .embla__prev {
        @apply absolute -left-12 bg-transparent duration-500 transition-all;
    }
    .embla__next {
        @apply absolute -right-12 bg-transparent duration-500 transition-all;
    }
    .embla__prev:hover,
    .embla__next:hover {
        @apply bg-white rounded-full;
    }
    /* custom */
    #call-us, #call-us-mobile {
        @apply bg-transparent text-primary text-white text-xl xl:text-3xl font-serif leading-none border-0 shadow-none p-0 m-0 text-center w-full;
    }
    #call-us div, #call-us-mobile div {
        @apply flex flex-col justify-between;
    }
    #call-us p, #call-us-mobile p {
        @apply m-0 p-0 leading-none;
    }

    #call-us strong, #call-us-mobile strong {
        @apply lg:text-secondary font-serif text-xs xl:text-xs;
    }
    #call-us:hover , #call-us-mobile:hover {
        @apply bg-transparent text-white;
    }


    .columns-4 {
        columns: 4;
    }

    #hero-features {
        overflow: visible !important;
    }
    #hero-features h2{ 
        @apply text-3xl lg:text-4xl;
    }
    /* small only */
    @media only screen and (max-width: 768px) {
        #hero-features {
            @apply py-16;
        }
        .columns-4 {
            columns: 1;
        }
        #homepage-hero-1 img {
            object-position: 85%;
            object-fit: cover;
            bottom: 180px !important;
        }
    }
    /* medium */
    @media only screen and (max-width: 1024px) {
        .embla__container .embla__slide_mobile:nth-child(n+4){
            @apply hidden;
        }
    }

    @media only screen and (min-width: 768px) {
        #hero-features article {
            margin-top: -64px;
            @apply flex flex-col relative;
        }
        #hero-features article div:last-child {
            /* margin-top: auto !important; */
        }
        #hero-features article:nth-child(2)::after {
            content: '';
            width: calc(100% + 2rem);
            border-color: #dedede;
            @apply absolute h-2/3 bottom-0  border-l-2 border-r-2 border-solid;
        }
    }


    #homepage-hero-1 > div {
        @apply pb-4 md:pb-36 pt-72 md:pt-28  
    }

    #homepage-hero-1 > div h1 {
        @apply text-2xl lg:text-4xl;
    }

    #homepage-hero-1 .absolute {
        background-position: 80%;
        @apply  xl:bg-center;
    }

    #homepage-hero-1:after {
        content:"";
        @apply absolute w-full h-full inset-0 bg-gradient-to-t from-black to-transparent opacity-100 lg:opacity-0 z-0;
    }

    #homepage-hero-1 div.max-w-7xl > div {
        @apply lg:w-2/3 w-full;
    }

    #hero-button-grid article div {
        @apply w-full;
    }
    #hero-button-grid h2,
    #hero-button-grid p {
        @apply text-center;
    }
    #hero-button-grid svg {
        @apply mr-6;
    }
    #hero-button-grid a {
        @apply flex flex-row justify-start items-center w-full h-auto text-left;
    }

    header nav {
        @apply px-4 py-3 xl:px-4 xl:py-0
    }

    header nav span {
        @apply leading-none
    }

    .hero-bg {
        @apply relative;
    }

    .hero-bg:before {
        content: "";
        @apply w-full h-full top-0 left-0 absolute bg-black opacity-70 z-20;
    }

    /* #hero-awards h2{
        @apply text-left;
    } */
    #hero-awards figure {
        @apply flex flex-row justify-center overflow-visible;
    }
    #hero-awards img {
        @apply h-32 w-auto;
    }

    .markdown-image img {
        @apply float-right w-1/3 ml-2 mt-2 mb-2;
    }

    /* icons */
    .min-w-24 {
        min-width: 5rem;
    }

    /* sidebar */
    .sidebar .actions {
        @apply flex flex-col w-full;
    }

    .sidebar .actions a {
        @apply w-full
    }

    .sidebar h2 {
        @apply text-2xl;
    }

    /* about - attorney profile */
    #bruce-blumberg img {
        @apply w-full pr-16 pt-8;
    }

    /* testimonials */
    .sb-component-testimonial-feed-section article {
        &:last-child {
            @apply border-0
        }
        @apply border-b-4 border-t-0;
    }
    .sb-component-testimonial-feed-section.colors-a article {
        @apply border-gray-200
    }
    .sb-component-testimonial-feed-section.colors-b article {
        @apply border-white
    }
    .quote {
        @apply relative
    }
    .quote p {
        @apply pl-4 lg:pl-16  text-lg lg:text-xl;;
    }

    .quote::before {
        content: '“';
        @apply absolute left-0 top-0 w-16 h-16 text-secondary font-serif text-5xl lg:text-9xl pl-0 lg:pl-2;
    }

    li p {
        @apply m-0 !important;
    }

    li::marker {
        color: #f1c02f;
    }

    h1 strong,
    h2 strong,
    h3 strong,
    .markdown strong {
        @apply text-secondary;
    }

    .page-blog .sb-markdown h1 strong, .page-blog .sb-markdown h2 strong, .page-blog .sb-markdown h3 strong {
        @apply text-primary !important;
    }

    .dropdown svg {
        @apply transform transition-all text-secondary pr-0;
    }

    /* 
    .dropdown:hover svg {
        @apply -rotate-90 text-secondary;
    } */

    .sb-component-section {
        position: relative;
        overflow: hidden;
    }


    .react-parallax {
        overflow: visible !important;
    }

    .react-parallax img {
        @apply object-cover;

    }

    .react-parallax-bgimage {
        /* @apply -ml-4 object-cover; */
    }

    .image-container {

        width: 100%;
      
        > div {
          position: unset !important;
        }
      
        .image {
          object-fit: contain;
          width: 100% !important;
          position: relative !important;
          height: unset !important;
        }
      }
    

    /* footer */
    footer a:hover:after {
        transform: scaleX(0) !important;
    }

    footer .contact-svg svg {
        @apply w-16 mr-4 !important;
    }
    .jotform-frame {
       /* height: 850px; */
    }
    .jotform-frame iframe {
         height:711px;
         min-height: 711px;
    }

    footer .iframe{
        position: relative;
        padding-bottom: 50%;
        height: 0;
        overflow: hidden;
    }
    
    footer .iframe iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
    }
    /* Buttons */
    .sb-component-button {
        @apply border-2 inline-flex items-center justify-center no-underline text-center transition duration-200 ease-in rounded-full;
    }
    .sb-component-social {
        @apply transition duration-200 ease-in;
    }
    .sb-component-social:not(.sb-component-social-primary),
    .sb-component-social:not(.sb-component-social-secondary) {
        @apply hover:opacity-70;
    }
    .sb-component-button-primary,
    .sb-component-social-primary {
        @apply bg-primary border-primary text-on-primary hover:bg-light hover:border-primary hover:text-primary;
    }

    /* Links */
    .sb-component-link {
        @apply inline-flex items-center justify-center no-underline relative;
    }
    .sb-component-link:after {
        @apply bg-secondary absolute left-0 w-full;
        bottom: -2px;
        content: '';
        height: 2px;
        transform: scaleX(0);
        transform-origin: 100% 50%;
        transition: transform 0.25s ease-in-out;
    }
    .sb-component-link:hover:after {
        transform: scaleX(1);
        transform-origin: 0% 50%;
    }

    /* Socials */
    .sb-component-social {
        @apply inline-flex items-center justify-center no-underline transition duration-200 ease-in;
    }

    .sb-component-social-primary,
    .sb-component-social-secondary {
        @apply border-2 rounded-full p-2;
    }

    /* Dividers */
    .sb-divider {
        @apply flex items-center before:flex-grow before:h-px before:bg-current;
    }

    /* Featured items */
    .sb-component-item-hover {
        @apply transition duration-200 ease-in;
    }

    /* Form controls */
    .sb-form-control {
        @apply mb-4;
    }
    .sb-label {
        @apply inline-block mb-1;
    }
    .sb-input,
    .sb-select,
    .sb-textarea {
        @apply bg-transparent border-2 border-current p-3 w-full focus:outline-none;
    }
    option {
        color: initial;
    }
    .sb-checkbox {
        @apply appearance-none absolute select-none opacity-0;
        height: 1.5em;
        width: 1.5em;
    }
    .sb-checkbox + .sb-label {
        @apply cursor-pointer pl-8 relative;
    }
    .sb-checkbox + .sb-label:before {
        @apply absolute left-0 top-1/2 transform -translate-y-1/2 border-2 border-current cursor-pointer text-center font-sans;
        content: '';
        height: 1.5em;
        width: 1.5em;
        line-height: 1.25;
    }
    .sb-checkbox:checked + .sb-label:before {
        content: '\2713';
    }
    .sb-select {
        @apply appearance-none bg-no-repeat cursor-pointer pr-7;
        background-image: linear-gradient(45deg, transparent 50%, currentColor 0), linear-gradient(135deg, currentColor 50%, transparent 0);
        background-position: calc(100% - 18px) calc(1px + 50%), calc(100% - 12px) calc(1px + 50%);
        background-size: 6px 6px, 6px 6px;
        background-repeat: no-repeat;
    }

    .text-center + .sb-contact-section-form,
    .sb-contact-section-form:only-child {
        text-align: center;
    }

    /* Color palettes */
    .colors-a {
        @apply bg-light text-on-light;
        .sb-input,
        .sb-select,
        .sb-textarea {
            @apply text-on-light placeholder-on-light placeholder-opacity-75;
        }
        .sb-component-button-secondary,
        .sb-component-social-secondary {
            @apply border-on-light text-on-light hover:bg-primary hover:border-primary hover:text-white;
        }
        .sb-card {
            @apply bg-complementary text-on-light;
        }
        .sb-component-item-hover {
            @apply hover:bg-primary hover:text-on-primary;
        }
    }
    .colors-b {
        @apply bg-dark text-on-dark;
        .sb-input,
        .sb-select,
        .sb-textarea {
            @apply text-on-dark placeholder-on-dark placeholder-opacity-75;
        }
        .sb-component-button-secondary,
        .sb-component-social-secondary {
            @apply bg-light border-primary text-on-light hover:bg-white hover:border-white hover:text-primary;
        }
        .sb-card {
            @apply bg-light text-on-light;
        }
        .sb-component-item-hover {
            @apply hover:bg-complementary hover:text-on-light;
        }
    }
    .colors-c {
        @apply bg-secondary text-on-secondary;
        .sb-input,
        .sb-select,
        .sb-textarea {
            @apply text-on-secondary placeholder-on-secondary placeholder-opacity-75;
        }
        .sb-component-button-secondary,
        .sb-component-social-secondary {
            @apply border-on-secondary text-on-secondary hover:bg-white hover:border-primary hover:text-primary;
        }
        .sb-card {
            @apply bg-light text-dark;
        }
        .sb-card h2,
        .sb-card h3,
        h1,
        h2,
        h3 {
            @apply text-on-secondary;
        }

        .sb-component-item-hover {
            @apply hover:bg-dark hover:text-light;
        }
    }
    .colors-d {
        @apply bg-complementary text-on-complementary;
        .sb-input,
        .sb-select,
        .sb-textarea {
            @apply text-on-complementary placeholder-on-complementary placeholder-opacity-75;
        }
        .sb-component-button-secondary,
        .sb-component-social-secondary {
            @apply border-on-complementary text-on-complementary hover:bg-light hover:border-primary hover:text-primary;
        }
        .sb-card {
            @apply bg-light text-dark m-2;
        }
        .sb-card h2,
        .sb-card h3,
        h1,
        h2,
        h3 {
            @apply text-on-complementary;
        }
        .sb-component-item-hover {
            @apply hover:bg-dark hover:text-light;
        }
    }
    .colors-e {
        @apply bg-complementary-alt text-on-complementary-alt;
        .sb-input,
        .sb-select,
        .sb-textarea {
            @apply text-on-complementary-alt placeholder-on-complementary-alt placeholder-opacity-75;
        }
        .sb-component-button-secondary,
        .sb-component-social-secondary {
            @apply border-on-complementary-alt text-on-complementary-alt hover:bg-light hover:border-primary hover:text-primary;
        }
        .sb-card {
            @apply bg-light text-on-complementary-alt;
        }
        .sb-component-item-hover {
            @apply hover:bg-dark hover:text-light;
        }
    }
}

.react-parallax-background-children {
    height: 150%;
    width: 100%;
}
